---
// import "../styles/global.css";
import { fetchGlobal } from "../lib/strapi.js";

const { title = "Mapping the Nation" } = Astro.props;

const global = await fetchGlobal();
---

<!doctype html>
<html lang="en">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<meta name="title" content="Mapping the Nation - A Companion Site to Mapping the Nation by Susan Schulten">
		<meta name="description" content="Mapping the Nation - A Companion Site to Mapping the Nation by Susan Schulten">
		<!-- <meta name="google-site-verification" content=""> -->
		<link rel="stylesheet" href="http://www.mappingthenation.com/css/main.css">
		<title>Mapping the Nation - A Companion Site to Mapping the Nation by Susan Schulten</title>
	</head>
	<body>
		<slot />
	</body>
</html>