<aside id="sidebar"> 
  <!-- <a id="browse-chrono" href="http://www.mappingthenation.com/index.php/chronoIndex">Browse Images Chronologically</a> 
  <a id="browse-creator" href="http://www.mappingthenation.com/index.php/creator">Browse Images by Map Creator</a> -->
    <div class="hr"><hr></div>
    <div id="book-promo">
    <div>
    <img src="http://www.mappingthenation.com/img/general/book-cover.jpg" alt="Mapping the Nation Book Cover">
      <h3><strong>Mapping the Nation:</strong> History<br>
&amp; Cartography in 19th Century America</h3>

      <a id="buy-now" href="https://cdcshoppingcart.uchicago.edu/Cart/PreferredBookbuyer.aspx?PRO=MAPNAT20" target="_blank">&nbsp;<br> 
      <strong>Buy Now</strong></a>
      </div>
      <p>In <em>Mapping the Nation</em>, Susan Schulten traces the rise of new forms of mapping and graphic knowledge in American life. From statistical mapping to historical atlases, Americans confronted entirely new ways to think about cartography in the nineteenth century.</p>
      <a id="learn-more" href="link for about">Learn more about the book »</a>
      <p style="margin-bottom: -25px;">Winner of the 2013 Hundley Award for History</p>
      </div>
</aside>