
<nav id="secondary">
  <p>BROWSE IMAGES</p>
  <ol>
    <li class=""><a href="by chapter link here">By Chapter</a>
      <ol style="visibility: hidden;">
        <li><a href="chapter 1 link here">CHAPTER 1</a></li>
        <li><a href="chapter 2 link here">CHAPTER 2</a></li>
        <li><a href="chapter 3 link here">CHAPTER 3</a></li>
        <li><a href="chapter 4 link here">CHAPTER 4</a></li>
        <li><a href="chapter 5 link here">CHAPTER 5</a></li>
      </ol>
    </li>
    <li class=""><a href="by creator link here">By Creator</a></li>
    <li class=""><a href="chronologically link here">Chronologically</a>
      <ol style="visibility: hidden;">
        <li><a href="1811-1840 period link here">1811-1840</a></li>
        <li><a href="1841-1860 period link here">1841-1860</a></li>
        <li><a href="1861-1870 period link here">1861-1870</a></li>
        <li><a href="1871-1880 period link here">1871-1880</a></li>
        <li><a href="1881-1932 period link here">1881-1932</a></li>
      </ol>
    </li>
  </ol>

  <!-- Search goes here -->
  <form action="search link here">
     <input type="hidden" name="searchType" value="composite">
     <input type="text" name="searchText" id="header-search" value="Search this Site">
     <input type="image" src="http://www.mappingthenation.com/img/backgrounds/header-search-submit.png" alt="GO" id="header-search-submit">
  </form>
</nav>